<div class="container">
	<div class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi maxime architecto impedit similique nobis, ipsum, animi asperiores nesciunt illo odit harum et rem sint aspernatur porro. Non dolorem impedit quis!</p>
		<ul>
			<li>
			<a href="javascript:void(0)" (click)="toggleSublists()"> List 1 </a>
				<app-general-list [level]="showSublists"></app-general-list>
			</li>
		<!-- 	<li>
			<a href="javascript:void(0)" (click)="toggleSublists()"> List 2 </a>
				<app-general-list [level]="showSublists"></app-general-list>
			</li>
			<li>
			<a href="javascript:void(0)" (click)="toggleSublists()"> List 3 </a>
				<app-general-list [level]="showSublists"></app-general-list>
			</li> -->
		</ul>
	</div>
</div>