<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="row">
				<div class="col-sm-8 form-group">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" class="form-control" #name>
				</div>
				<div class="col-sm-4 formgroup">
					<label for="amount">Amount</label>
					<input type="text" name="amount" id="amount" class="form-control" #amount>
				</div>
				<div class="col-sm-12">
					<button class="btn btn-success m-r-10" type="submit" (click)="addIngredient()">Add</button>
					<button class="btn btn-danger m-r-10" type="submit"> Delete </button>
					<button class="btn btn-primary m-r-10" type="submit" (click)="clearIngredient()">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>