<!-- <p>
  app-recipes-detail works!
</p> -->

<div class="row">
	<div class="col-sm-12">
		<div class="well m-b-15">
			<h2>{{recipe.name}}</h2>
			<p>{{recipe.description}}</p>
			<img src="{{recipe.imagePath}}" alt="{{recipe.name}}" style="height: 100px;">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<!-- <div class="dropdown">
			<a href="javascript:void(0)" class="btn btn-group dropdown-toggle" role="button">
				Manage <span class="caret"></span>
			</a>
	    <ul class="dropdown-menu">
	      <li><a href="javascript:void(0)">Save Data</a></li>
	      <li><a href="javascript:void(0)">Fetch Data</a></li>
	    </ul>
		</div> -->
		<div class="dropdown" appDropdown>
		  <button class="btn btn-primary dropdown-toggle" id="dropdownMenuLink">
		    Manage <span class="caret"></span>
		  </button>
		  <div class="dropdown-menu">
		    <li><a class="dropdown-item" href="javascript:void(0)" (click)="moveToShoppingLists()"> To Shopping List</a></li>
		    <li><a class="dropdown-item" href="javascript:void(0)" (click)="onEditRecipe()"> Edit Recipe </a></li>
		    <li><a class="dropdown-item" href="javascript:void(0)"> Delete Recipe </a></li>
		  </div>
		</div>
		<br>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let ingredient of recipe.ingredients"> 
				{{ingredient.name}} - {{ingredient.amount}} 
			</li>
		</ul>
	</div>
</div>
<!-- <div class="row">
	<div class="col-sm-12">
		<p>Recipe description</p>
		<p>Ingredients</p>
	</div>
</div> -->
