<div class="container">
	<h1 class="page-header">Welcome to App</h1>
	<div class="panel panel-default">
		<div class="panel-body">
			<ul>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/io"> Basic practice </a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/application/recipes"> App </a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/component-communication"> Component communication</a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/assignment-data-binding"> Assignment - <small>Component communication using GameControl </small> </a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/directives">Directives</a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/ang-services">Angular Services</a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/assignment-services"> Assignment - <small>Services </small> </a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/ang-routing/home">Routing - <small>Practice </small> </a>
						<!-- <button class="btn btn-primary" (click)="onLoadGeneral()">Load General</button> -->
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/angular-routinggg/homeee"> Angular Routing - <small>Practice 2 </small> </a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/ang-observables/home"> Angular Observables </a>
					</h3>
				</li>
				<li>
					<h3>
						<a href="javascript:void(0)" routerLink="/ang-forms/tdd"> Angular Forms </a>
					</h3>
					<ul>
						<li><a routerLink="/ang-forms/tdd">Template driven form</a></li>
						<li><a routerLink="/ang-forms/reactive">Reactive form</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
