<div class="row">
	<div class="col-sm-8">
		<!-- <app-recipes-detail 
			*ngIf="selectedRecipe; else showText"
			[recipe]="selectedRecipe">
		</app-recipes-detail>
		<ng-template #showText>
			<p style="font-size: 25px;font-weight: 100;text-align: center;margin-top: 50px;letter-spacing: 2px">Please select Recipe</p>
		</ng-template> -->
		<router-outlet></router-outlet>

	</div>
	<div class="col-sm-4">
		<!-- <a class="btn btn-primary" (click)="onNewRecipe()">New Recipe</a> <br><br> -->
		<app-recipes-list></app-recipes-list>
	</div>
	<button routerLink="/application/shopping-list">Go to SL</button>
</div>